*{
  padding: 0;
  margin : 0;
  box-sizing: border-box;
}

  @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&family=Montserrat&display=swap');
.font-bold{
  font-weight: 300;
}

.font-mont{
  font-family: 'Handjet', cursive;
  font-family: 'Montserrat', sans-serif;
}

.font-handjet{
 font-family: 'Handjet', cursive;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]{
  background-color: rgb(235, 163, 163);
  padding: 15px;
  
  /* transform: translate(-50%,-50%); */
  height: 45px;

  font-family: "Roboto Mono",monospace;
  color: rgb(226, 141, 141);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 15px;
}
::-webkit-calendar-picker-indicator{
  background-color: rgb(184, 184, 228);
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #A38426 #CBD4D7;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #CBD4D7;
}

*::-webkit-scrollbar-track:hover {
  background-color: #D5DEE0;
}

*::-webkit-scrollbar-track:active {
  background-color: #9dd9e8;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #A38426;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #DFCD42;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #DFCD42;
}
input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
      }

@layer components{

  .focus-animation{
    @apply  focus:outline-dashed focus:outline-2 transition-all focus:outline-offset-4 focus:outline-white ;
  }
}

@media (max-width:1085px){
  .smr{
    @apply grid grid-flow-row gap-2 justify-center;
  }
  .category{
    @apply bg-white text-black w-fit p-0.5 pl-2 pr-2 ;
  }
}

@media (max-width:940px){
  .listrr{
    @apply grid-cols-1 ;
  }
  .flexing{
    @apply flex-col ;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
